.text {
  font-size: 2.4rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2;
}
.form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  max-width: 50rem;
  width: 95%;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.8rem;
  z-index: 100;
  padding: 1.5rem;
}
.input {
  margin: 0;
}
.form button {
  grid-column: 1 / -1;
  font-size: 1.6rem;
  margin: 0.6rem 0 0.1rem;
}
.courseName {
  grid-column: 1 / -1;
  justify-self: start;
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
}
