.teacher-Layout {
  max-width: 100rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 9.6rem 1rem 3rem 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.teacher-statistic {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2.4rem;
}

.teacher-name {
  font-weight: 700;
  font-size: 5.2rem;
}

.recommend h2 {
  font-weight: 700;
  font-size: 4.4rem;
}

.recommend h4 {
  font-size: 2.4rem;
}

.difficulty h3 {
  display: inline;
  font-weight: 700;
  font-size: 3.6rem;
}
.difficulty h5 {
  display: inline;
  font-size: 2.4rem;
}
.difficulty h4 {
  font-size: 2.4rem;
}

.course-statistic {
  display: grid;
  gap: 1.6rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.courseScoreAvg {
  position: absolute;
  display: grid;
  gap: 1.6rem;
  margin-left: 10%;
  margin-top: 10%;
}

.courseScoreAvg h3 {
  font-size: 2.4rem;
}

.comment-layout {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 100rem;
}

.comment-list {
  padding-top: 1.6rem;
}

.comment-list ul {
  display: grid;
  gap: 1.6rem;
}

.comment-list h1 {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
