.MainNavigationTitle a {
  text-decoration: none;
  color: white;
}

.homeIcon,
.logInOutIcon {
  display: none;
}
.logInOutIcon {
  justify-self: end;
}

.main-navigation__header-nav {
  display: block;
  justify-self: end;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.nav-links li {
  margin: 1.6rem;
}

.nav-links button {
  cursor: pointer;
  border: 1px solid white;
  color: white;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.search {
  justify-self: center;
  display: block;
  font-size: 1.6rem;
  position: relative;
  width: 80%;
}

.search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.search-button {
  font-weight: 400;
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 0;
  background: white;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}

.search-button svg {
  color: #dae0e6;
  width: 3rem;
}

@media (min-width: 768px) {
  .MainNavigationBtn {
    display: none;
  }
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.8rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }
}

@media (max-width: 768px) {
  .homeIcon,
  .logInOutIcon {
    display: block;
    width: 3rem;
    color: white;
  }
  .MainNavigationTitle,
  .main-navigation__header-nav {
    display: none;
  }

  .search {
    width: 90%;
  }
}
