.optionLayout {
  padding-top: 0.4rem;
  border-top: 0.2rem #dae0e6 solid;
  /* background-color: rgb(149, 149, 250); */
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.votes {
  display: flex;
  gap: 1.6rem;
}

.upVote {
  display: flex;
  align-items: center;
  width: 3.6rem;
  font-size: 1.2rem;
}

.downVote {
  display: flex;
  align-items: center;
  width: 3.6rem;
  font-size: 1.2rem;
}

.upVote svg:hover {
  fill: #ff4500;
}

.downVote svg:hover {
  fill: #7193ff;
}

.upVoteSvg-voted svg {
  fill: #ff4500;
}

.downVoteSvg-voted svg {
  fill: #7193ff;
}

.upVoteSvg-voted svg:hover,
.downVoteSvg-voted svg:hover {
  fill: black;
}

.createAt {
  justify-self: end;
  font-size: 2rem;
}
