.card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  word-break: break-all;
  gap: 1.6rem;
  height: 100%;
}

.teacher-layout {
  max-width: 100%;
  gap: 1.6rem;
}

.personal-comment-layout {
  max-width: 100%;
  grid-template-columns: auto 4fr auto;
  gap: 1.6rem;
  row-gap: 0;
}

.home-page-layout {
  height: 30rem;
  max-width: 40rem;
}

.homePageCreateAt {
  justify-self: end;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    word-break: break-all;
    gap: 1.6rem;
    height: 100%;
  }
}
