.homeLayout {
  max-width: 100rem;
  margin: 0 auto;
  background-color: rgb(118, 170, 237);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 9.6rem 0;
}

.headingPrimary {
  font-size: 6.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.headingSecondary {
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 4.8rem;
}
