.homeLayout {
  max-width: 100rem;

  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-top: 30vh;
  justify-items: center;
}

.headingBox {
  padding: 3rem;
  height: 100%;
}

@media (max-width: 768px) {
  .homeLayout {
    padding: 0;
    max-width: 100rem;
    grid-template-columns: auto;
  }
  .headingBox {
    padding-top: 10rem;
    height: 100%;
    width: 100%;
  }
}
