.swiper {
  width: 60rem;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .swiper {
    width: 60rem;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 640px) {
  .swiper {
    width: 60rem;
    padding-bottom: 40px;
  }
}
