.swiper {
  width: 25rem;
  height: 40rem;
}

.swiper-container {
  width: 48rem;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
  .swiper {
    width: 55rem;
    height: 30rem;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
  .swiper {
    width: 55rem;
    height: 30rem;
  }
}
