.headingPrimary {
  font-size: 6.2rem;
  font-weight: 700;
  /* margin-bottom: 3.2rem; */
}

.headingSecondary {
  font-size: 4.4rem;
  line-height: 1.05;
  font-weight: 500;

  margin-bottom: 3.2rem;
}
